<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    {% include 'nav.html' %}


  <div class="row">
    <div class="col-md-2 ">
    </div>
    <div class="col-md-8">

<div style="display: flex;
  justify-content: center;
  align-items: center;" >
    <h1>
    <br>
    <br>
    <br>  &nbsp;&nbsp;&nbsp;&nbsp;Welcome to your to do app.<br>
    <br>
        Tap on the top left or the bottom <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;button to access your app.
   </h1>
</div>

    </div>
    <div class="col-md-2" >
  	</div>
  </div>
<br>
<br>
        <div style="display: flex;
  justify-content: center;
  align-items: center;" >
            <a href="/"> <button type="button" class="btn btn-secondary">TO DO APP</button> </a>
        </div>

</body>
</html>